.fa-inverse:hover {
    color: #c4c4c4;
}

.fa-2x {
    font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
    .inline-block {
        display: inline-block !important;
    }

    .my-nav {
        float: right;
        margin-right: 20px;
    }
}