body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'PT Sans Caption', sans-serif;
}

h1, h2, h3 {
    font-family: 'PT Sans Caption', sans-serif;
}

.navbar-toggle {
    padding: 13px 10px;
}

p {
    text-align: justify;
}

h2 {
    margin-bottom: 20px;
}
